<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 20px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <a href="/get-dashboard" class="a">
            <img src="/imgs/image.png" alt="Dashboard" style="width: 48px; height: 48px;">

        </a>
        <h2>Add New Movie</h2>
        <form action="/add-movie" method="POST">
            <div class="mb-3">
                <label for="id" class="form-label">Film id</label>
                <input type="number" class="form-control" id="id" name="id" required>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="overview" class="form-label">Overview</label>
                <textarea class="form-control" id="overview" name="overview" required></textarea>
            </div>
            <div class="mb-3">
                <label for="poster_path" class="form-label">Poster Path</label>
                <input type="text" class="form-control" id="poster_path" name="poster_path" required>
            </div>
            <div class="mb-3">
                <label for="release_date" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="release_date" name="release_date" required>
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Rating</label>
                <input type="number" step="0.1" class="form-control" id="rating" name="rating" required>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">Link</label>
                <input type="text" class="form-control" id="link" name="link" required>
            </div>
            <div class="mb-3">
                <label for="cast" class="form-label">Cast</label>
                <textarea class="form-control" id="cast" name="cast" required></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Genres</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Action" name="Action">
                    <label class="form-check-label" for="Action">Action</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Adventure" name="Adventure">
                    <label class="form-check-label" for="Adventure">Adventure</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Animation" name="Animation">
                    <label class="form-check-label" for="Animation">Animation</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Comedy" name="Comedy">
                    <label class="form-check-label" for="Comedy">Comedy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Crime" name="Crime">
                    <label class="form-check-label" for="Crime">Crime</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Documentary" name="Documentary">
                    <label class="form-check-label" for="Documentary">Documentary</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Drama" name="Drama">
                    <label class="form-check-label" for="Drama">Drama</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Family" name="Family">
                    <label class="form-check-label" for="Family">Family</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Fantasy" name="Fantasy">
                    <label class="form-check-label" for="Fantasy">Fantasy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="History" name="History">
                    <label class="form-check-label" for="History">History</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Horror" name="Horror">
                    <label class="form-check-label" for="Horror">Horror</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Music" name="Music">
                    <label class="form-check-label" for="Music">Music</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Mystery" name="Mystery">
                    <label class="form-check-label" for="Mystery">Mystery</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Romance" name="Romance">
                    <label class="form-check-label" for="Romance">Romance</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ScienceFiction" name="Science Fiction">
                    <label class="form-check-label" for="ScienceFiction">Science Fiction</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="TVMovie" name="TV Movie">
                    <label class="form-check-label" for="TVMovie">TV Movie</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Thriller" name="Thriller">
                    <label class="form-check-label" for="Thriller">Thriller</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="War" name="War">
                    <label class="form-check-label" for="War">War</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Western" name="Western">
                    <label class="form-check-label" for="Western">Western</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <%=JSON.stringify(message.errMessage)%>
 
        </form>
            <!-- User Management -->
            <h2>User Management</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Vip member</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Here you will dynamically generate rows for each user -->
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.bought_vip %></td>
                        <td>
                            <!-- Add buttons for actions like edit or delete -->
                            <form action="/api/delete-user/<%= user.id %>" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>                        
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>

              <!-- Movie Management -->
              <h2>Movie Management</h2>
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">movie ID</th>
                          <th scope="col">Title</th>
                          <th scope="col">Release date</th>
                          <th scope="col">Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Here you will dynamically generate rows for each user -->
                      <% movies.forEach(movie => { %>
                      <tr>
                          <td><%= movie.id %></td>
                          <td><%= movie.title %></td>
                          <td><%= movie.release_date %></td>
                          <td>
                              <!-- Add buttons for actions like edit or delete -->
                              <form action="/api/delete-movie/<%= movie.id %>" method="POST">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                              </form>                        
                          </td>
                      </tr>
                      <% }); %>
                  </tbody>
              </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
